[toolchain]
anchor_version = "0.29.0"

[features]
seeds = false
skip-lint = false

[programs.devnet]
lending_pool = "46PEhxKNPS6TNy6SHuMBF6eAXR54onGecnLXvv52uwWJ"

[programs.mainnet]
lending_pool = "46PEhxKNPS6TNy6SHuMBF6eAXR54onGecnLXvv52uwWJ"

[programs.testnet]
lending_pool = "B2BekqdWDyFTEzCPJVgJF4xxDUxea3QgJtZSJbLX9CnB"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "Localnet"
wallet = "/Users/ayushsrivastava/.config/solana/id.json"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 tests/**/*.ts"

[test]
startup_wait = 5000
shutdown_wait = 2000
upgradeable = false

[[test.genesis]]
address = "metaqbxxUerdq28cj1RbAWkYQm3ybzjb6a8bt518x1s"
program = "tests/fixtures/metaplex_token_metadata.so"

[test.validator]
bind_address = "0.0.0.0"
url = "https://api.devnet.solana.com"
ledger = ".anchor/test-ledger"
rpc_port = 8899
